@import "../../../styles.scss";

.darkMode1 {
    @include theme-selector1($dark-theme1: true)
}
.lightMode1 {
    @include theme-selector1($dark-theme1: false)
}
.home {
    min-height: 100vh;
    margin-top: 70px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding: auto;
    // padding: 10px 150px;
    @include large {
        // padding: 10px 70px;
        flex-direction: column;
        padding: auto;
    }
    @include medium {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include mobile {
        padding: 10px 10px;
    }
    &__map {
        flex: 0.5;
        // background-color: red;
    }
    &__indiaStats {
        flex: 0.5;

    }
    &__details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        @include large {
            // grid-template-columns: repeat(4, 1fr);
            justify-items: center;
        }
    }
    &__detail {
        height: 100px;
        width: 210px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        margin: 2px;
        cursor: pointer;
        @include medium {
            width: 160px;
            height: 100px;
        }
    }
    .large__text {
        font-size: 23px;
    }
    &__header {
        font-size: 40px;
    }
    .home__blue {
        color: $blue;
    }
    .home__red {
        color: $red;
    }
    .home__green {
        color: $green;
    }
    .home__gray {
        color: $gray;
    }
    .home__blue:hover {
        background: $blue-hover;
    }
    .home__gray:hover {
        background: $gray-middark;
    }
    .home__green:hover {
        background: $green-hover;
    }
    .home__red:hover {
        background: $red-hover;
    }
}

