<div class="home" [ngClass] = "darkMode? 'darkMode1' : 'lightMode1'">

    <div class="home__map">
        <p class="home__text home__header">India</p>
        <svg id="map" width = "500" height = "500"></svg>
    </div>
    <div class="home__indiaStats">
        <div class="home__details">
            <div class="home__detail home__text home__red">Confirmed <br> <br> <span class="large__text">{{ confirmedCases.toLocaleString('en-IN') }}</span></div>
            <div class="home__detail home__text home__blue">Active<br> <br> <span class="large__text">{{ activeCases.toLocaleString('en-IN') }}</span></div>
            <div class="home__detail home__text home__green">Recovered <br> <br> <span class="large__text">{{ recovered.toLocaleString('en-IN') }}</span></div>
            <div class="home__detail home__text home__gray">Deaths <br> <br> <span class="large__text">{{ deaths.toLocaleString('en-IN') }}</span></div>
        </div>
    </div>
</div>
